
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <header class="d-flex justify-content-between">
        <div class="title"><h1>BALBOA FITNESS</h1></div>
        <div class="title"><h1>USERNAME</h1></div>
    </header>
    <div class="row">
    <div class="col-md-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item active">
              <a class="nav-link" href="#">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mesajlar</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Danışanlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Egzersiz Programı Oluştur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Beslenme Programı Oluştur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">--------</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Profil</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Mesajlar</a>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Beslenme Programı</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Egzersiz Programı </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">İlerleme Kayıtları</a>
            </li>
          
            
            <!-- Diğer menü öğeleri... -->
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-8">
        <h2 class="title">test</h2>
    </div>
    </div>
    <div class="col-md-8">
        <div class="container">
            {%block content%}

            {%endblock%}
        </div>

    </div>
    </div>
    




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>